.container {
  margin: 2rem auto;
  padding: 0 var(--page-pad);
  width: 100%;
  box-sizing: border-box;
}

.default {
  max-width: var(--page-max);
}

.narrow {
  max-width: var(--page-max-narrow);
}

.wide {
  max-width: var(--page-max-wide);
}
